body {
    padding: 20px;
}
.section {
    margin-bottom: 30px;
}

a:link, a:visited, a:hover, a:active {
    color: rgb(92, 110, 145);
}

#name {
    color: rgb(55, 55, 55);
}

hr {
    color:rgb(176, 176, 176);
}